#item-page-container {
  display: flex;
}

#item-page-container #stats-cal-container {
  width: 50%;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

header h1 {
  margin: 0;
}

header form {
  margin: auto;
}

#navbar-left {
  display: flex;
}

#navbar-left .logo-placeholder {
  font-size: 2rem;
  margin: 0;
  border-radius: 100%;
  background-color: blue;
}

#navbar-right {
  display: flex;
}

#navbar-right .logo-placeholder {
  font-size: 2rem;
  margin: 0;
  border-radius: 100%;
  background-color: blue;
}

#ticker-container {
  border: 1px solid grey;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #e1e2e3;
}

#ticker-container p {
  width: 100%;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

#moving-container {
  display: flex;
  justify-content: space-between;
  transform: translateX(100%);
  animation: moving 25s linear infinite;
}

.positive-gains {
  color: green;
}

.negative-gains {
  color: red;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#graph-container {
  width: 100%;
  height: 100%;
  background-color: purple;
  border: 1px solid black;
  margin: 0px 5px 5px 0px;
}

#stats-container {
  width: 100%;
  background-color: #fff;
  border: 2px solid #1652f0;
  border-radius: 1%;
  margin: 0px 0px 5px 5px;
  box-shadow: 3px 2px rgba(22, 82, 240, 0.3);
}

#stats-name {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

#stats-list-container {
  display: flex;
}

#item-name {
  text-decoration: underline;
}

#item-img {
  height: 10%;
  width: 10%;
}

.stats-li p {
  margin: 0 0 10px 0;
}

.stats-li #alch-prof {
  color: green;
}

.stats-li #alch-neg {
  color: red;
}

.stats-li .item-uline {
  font-weight: bold;
  text-decoration: underline;
}

#calculator-container {
  width: 100%;
  background-color: red;
  background-color: #fff;
  border: 2px solid #1652f0;
  border-radius: 1%;
  margin: 0px 0px 5px 5px;
  box-shadow: 3px 2px rgba(22, 82, 240, 0.3);
}

#calculator-container p {
  padding-left: 25px;
}

form {
  padding-top: 25px;
  padding-left: 25px;
}
