@import 'config';

#calculator-container {
  width: 96%;

  background-color: #fff;
  border: 2px solid #1652f0;
  border-radius: 1%/5%;
  margin: 0px 0px 5px 5px;
  box-shadow: 3px 2px rgba(22, 82, 240, 0.3);

  p {
    padding-left: 25px;
  }
}

#calc-form {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 50px;

  label {
    font-weight: bold;
  }

  input,
  label {
    display: block;
  }
}

#input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#price-container {
  width: 50%;
}

#submit-container {
  margin-left: 4em;
  width: 50%;
}

#form-overall {
  font-weight: bold;
  margin-bottom: 0;
}

#price-overall {
  margin-top: 0;
}

#input-btn {
  background-color: $accent-color;
  color: #fff;
  border: none;
  border-radius: 10%;
  height: 25px;
  width: 75px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

#input-btn:hover {
  background-color: $hover-color;
  color: #e5e5e5;
}

#calc-alert {
  display: none;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
  font-weight: bold;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 1;
  left: 0;
  right: 0;
}
