@import 'config';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid #adadad;
  margin-bottom: 2px;

  p {
    font-size: 0.9em;
    margin: 5px 25px 0 5px;
  }

  a {
    color: #999;
    text-decoration: none;
    // transition: color 0.25s ease;
  }

  a:hover {
    color: $hover-color;
    // opacity: 75%;
  }
}
