@import 'config';

#graph-container {
  width: 100%;
  height: 100%;
  background-color: purple;

  border: 2px solid black;
}

// @media screen and (asdasd){
//     #graph-container {
//         width: whatever;
//     }
// }
