@import 'config';

@media screen {
  @media (max-width: 1100px) {
    #item-page-container {
      flex-direction: column;
    }

    #graph-container {
      width: 100%;
      height: 100%;
    }

    #stats-cal-container {
      width: 100% !important;
      margin-bottom: 15px;
    }

    #stats-cal-mediaQ {
      display: flex !important;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-right: 5px;
    }

    // ---------- Ticker ----------
    #moving-container {
      a {
        margin-left: 5px !important;
        margin-right: 5px !important;
      }
    }
  }

  @media (min-width: 806px) and (max-width: 1099px) {
    #stats-container {
      width: 50% !important;
    }

    #calculator-container {
      width: 50% !important;
    }

    #history-container {
      width: 98.5% !important;
      margin: auto !important;
    }
  }

  @media (min-width: 0px) and (max-width: 805px) {
    #stats-cal-mediaQ {
      flex-direction: column;
      margin-bottom: 0px;
    }

    #stats-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    #calculator-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    #history-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    // ------- Account page -------
    #account-page {
      flex-direction: column;

      #table-right {
        margin-left: 0px !important;
      }
    }

    #account-page-footer-fix {
      padding-bottom: 50px;
    }

    // ---------- Footer ----------
    .footer {
      position: relative !important;
    }

    .log-footer {
      position: fixed !important;
    }
  }

  @media (min-width: 0px) and (max-width: 700px) {
    // ---------- Ticker ----------
    #moving-container {
      a {
        margin: 0px 10px !important;
      }
    }

    // ---------- History Page ----------
    #sort-menu {
      width: 10% !important;
    }

    // ---------- Loading ----------
    #refresh-span-true {
      width: 50%;
    }
  }

  @media (min-width: 0px) and (max-width: 501px) {
    // ---------- Header ----------
    header {
      margin-bottom: 15px;
      border-bottom: 1px solid gray;
    }

    #navbar-left {
      #logo {
        height: 1em !important;
        width: 1em !important;
      }

      input {
        width: 50%;
      }

      #input-btn {
        height: 25px !important;
        width: 25px !important;
      }

      .fa-search {
        margin: auto;
      }

      #search-text {
        display: none;
      }
    }

    #navbar-right {
      #account-name-link {
        display: none;
      }

      i {
        font-size: 25px;
      }
    }

    // ---------- Ticker ----------
    #ticker-container {
      display: none;
    }

    // ---------- Graph ----------
    #graph-header {
      flex-direction: column;

      #stats-btns {
        margin-top: 5px;
        ul {
          padding-left: 0;
        }
      }
    }

    // ---------- History Page ----------
    #sort-menu {
      width: 13% !important;

      .drop-btn,
      #sort-content {
        width: 75px;
      }
    }

    .table-date {
      display: none;
    }

    // ------- Account page -------
    #account-container {
      button {
        text-align: center !important;
      }
    }

    #account-delete-window {
      width: 400px !important;
    }

    // ---------- Loading ----------
    #refresh-span-true {
      width: 70%;
    }
  }

  // ---------- Login/Signup ----------
  .log-sign-container {
    width: 75%;
  }

  @media (min-width: 0px) and (max-width: 415px) {
    // ---------- Calculator ----------
    #calc-form {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    // ------- Account page -------
    #account-delete-window {
      width: 300px !important;
    }

    // ---------- Loading ----------
    #refresh-span-true {
      width: 85%;
    }
  }
}
