@import 'config';

#search-container {
  display: flex;
  margin: 15px;

  h2 {
    margin-bottom: 0;
  }

  small {
    margin-left: 15px;
    color: $hover-color;
  }
}

#query-container {
  width: 50%;
}

#item-search-ul {
  display: flex;
  flex-direction: column;
}

.item-search-li {
  display: flex;
  color: black;
  font-size: 1.2em;
  //   list-style: none;
  text-decoration: none;
}

.item-search-li:hover {
  color: $hover-color;
  font-size: 1.25em;
  text-decoration: underline;
  font-weight: bold;
}

.item-search-li:active {
  color: $placeholder-color;
}

#alphabet-container {
  width: 50%;

  ul {
    position: fixed;
    right: 0;

    margin-right: 20px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #818eaf;
  }

  a:hover {
    color: $hover-color;
    // font-size: 1.25em;
    // text-decoration: underline;
    font-weight: bold;
  }

  a:active {
    color: $placeholder-color;
  }
}
