@import 'config';

#stats-container {
  // width: 100%;
  width: 96%;

  background-color: #fff;
  border: 2px solid $accent-color;
  border-radius: 1%/5%;
  margin: 0px 0px 5px 5px;
  box-shadow: 3px 2px rgba(22, 82, 240, 0.3);
}

h4 {
  text-decoration: underline;
  margin: 10px 10px 0 10px;
}

// #stats-name {
//   display: flex;
//   // justify-content: space-between;
//   align-items: center;
//   margin-left: 25px;
// }

#stats-list-container {
  display: flex;
}

.stats-li {
  // display: flex;

  p {
    margin: 0 0 10px 0;
  }

  #alch-prof {
    color: green;
  }

  #alch-neg {
    color: red;
  }

  .item-uline {
    font-weight: bold;
    text-decoration: underline;
  }
}

// @media screen and (asdasd){
//     #stats-container{
//         width: whatever;
//     }

// small screen vvvvvvv
// #ul-1 {
//   padding-left: 25px;
// }
// }
