@import 'config';

#terms-container {
  margin: auto;
  padding-bottom: 5px;
  width: 80%;

  h1 {
    font-size: 1.75em;
    text-decoration: underline;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }

  a:hover {
    color: $hover-color;
  }
}
