@import 'config';

#ticker-container {
  border: 1px solid grey;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #e1e2e3;

  a {
    text-decoration: none;
    font-size: 0.7rem;
    margin: 0.5rem 0;
  }
}

#moving-container {
  display: flex;
  justify-content: space-between;
  transform: translateX(100%);
  animation: moving 25s linear infinite;
}

.positive,
.neutral {
  color: green;
}

.positive:hover {
  color: darkgreen;
}

.negative {
  color: red;
}

.negative:hover {
  color: darkred;
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
