@import 'config';

html,
body,
#root,
.App {
  height: 100%;
}

#true {
  opacity: 0;
}

#loading-span-true {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  border: 12px solid $placeholder-color; /* Light grey */
  border-top: 12px solid $accent-color; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 12px solid $accent-color;
  }
  50% {
    transform: rotate(180deg);
    border-top: 12px solid $placeholder-color;
  }
  100% {
    transform: rotate(360deg);
    border-top: 12px solid $accent-color;
  }
}

#loading-span-false {
  display: none;
}

#refresh-span-true {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $graph-color;
  text-align: center;
  color: black;

  border: 2px solid $accent-color;
  border-radius: 1%;
  width: 25%;
  height: 20%;
  z-index: 1;

  button {
    font-size: 1em;
    font-weight: bold;

    width: 45%;
    height: 25%;
  }
}

#refresh-span-false {
  display: none;
}

#graph-container {
  width: 100%;
  height: 100%;
  // margin: 0px 5px 5px 5px;
}

#item-page-container {
  display: flex;
  // width: 100%;
  // height: 100%;

  #stats-cal-container {
    width: 50%;
  }
}

input::placeholder {
  color: $placeholder-color;
}

@media screen {
  @media (max-width: 1100px) {
    #item-page-container {
      flex-direction: column;
    }

    #graph-container {
      width: 100%;
      height: 100%;
    }

    #stats-cal-container {
      width: 100% !important;
      margin-bottom: 15px;
    }

    #stats-cal-mediaQ {
      display: flex !important;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-right: 5px;
    }
  }

  @media (min-width: 806px) and (max-width: 1099px) {
    #stats-container {
      width: 50% !important;
    }

    #calculator-container {
      width: 50% !important;
    }

    #history-container {
      width: 98.5% !important;
      margin: auto !important;
    }
  }

  @media (min-width: 0px) and (max-width: 805px) {
    #stats-cal-mediaQ {
      flex-direction: column;
      margin-bottom: 0px;
    }

    #stats-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    #calculator-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    #history-container {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 98% !important;
    }

    // ------- Account page -------
    #account-page {
      flex-direction: column;

      #table-right {
        margin-left: 0px !important;
      }
    }

    #account-page-footer-fix {
      // margin-bottom: 50px;
      padding-bottom: 50px;
    }

    // ---------- Footer ----------
    .footer {
      position: relative !important;
    }

    .log-footer {
      position: fixed !important;
    }
  }
}

@import 'header';
@import 'ticker';
@import 'graph';
@import 'stats';
@import 'calculator';
@import 'history';
@import 'historypage';
@import 'search';
@import 'log-sign';
@import 'footer';
@import 'terms';
@import 'account';
