@import 'config';

html,
body,
#root,
.App {
  height: 100%;
}

#graph-container {
  width: 100%;
  height: 100%;
  // margin: 0px 5px 5px 5px;
}

#item-page-container {
  display: flex;
  // width: 100%;
  // height: 100%;
  // background-color: yellow;

  #stats-cal-container {
    width: 50%;
  }
}

input::placeholder {
  color: $placeholder-color;
}

@import 'header';
@import 'ticker';
@import 'graph';
@import 'stats';
@import 'calculator';
@import 'history';
@import 'log-sign';
@import 'footer';
